<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HawkNet" version="1.2.1.2" targetFramework="net35" />
  <package id="ServiceStack" version="3.9.44" targetFramework="net35" />
  <package id="ServiceStack.Common" version="3.9.44" targetFramework="net35" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.44" targetFramework="net35" />
  <package id="ServiceStack.Redis" version="3.9.44" targetFramework="net35" />
  <package id="ServiceStack.Text" version="3.9.44" targetFramework="net35" />
</packages>