<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="hello"
                address="http://localhost:8091/HelloService"
                contract="Example.WCF.IHelloWorld"
                binding="webHttpBinding"
                behaviorConfiguration="hello"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="hello">
          <webHttp/>
          <hawk id="id" key="werxhqb98rpaxn39848xrunpaw3489ruxnpa98w4rxn" algorithm="sha256"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="hawk" type="HawkNet.WCF.HawkClientBehaviorExtensionElement, HawkNet.WCF, Version=1.3.4.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>